* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  background-color: black;
}
.logo {
  margin: 0 0 0 2rem;
}
.nav-items li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}
li a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}
.nav-search {
  margin: 0 2rem 0 0;
}
.nav-search i {
  margin: 0.5rem;
  cursor: pointer;
}
.nav-items a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #ffcc00;
  transition: width 0.2s ease;
}
.nav-items a:hover::after {
  width: 50%;
}
.toggle-btn {
  display: none;
}
.sidebar {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  padding-top: 60px;
  display: none;
}

.close-btn {
  position: absolute;
  right: 0;
  margin-right: 0;
}
.close-btn i {
  font-size: 1.5rem;
  cursor: pointer;
}
.toggle-menu {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.nav-item li {
  margin: 1.7rem;
  list-style: none;
}


/*Banner */
.banner {
  color: white;
}
.banner-cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/banner2.jpg);
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-content h1 {
  font-size: 4.7em;
}

/* About us */
.about-us {
  padding: 6rem;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-container p {
  text-align: center;
  line-height: 1.5rem;
}
.about-container h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Info */
.info {
  background-color: #f8f8f8;
  height: auto;
  padding: 2rem;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
  margin: 1rem 3rem;
  color: white;
}

.info-item {
  flex: 1;
  text-align: center;
  padding: 1rem;
  background-color: #3333f5;
  padding: 2rem;
  height: 300px;
  margin: 1rem;
}
.info-item h2 {
  font-weight: 600;
  margin: 1rem 0;
}
.info-details {
  position: relative;
  top: 50px;
}
.info-details i {
  font-size: 2.5rem;
}

@media screen and (max-width:650px) {
  .info-container{
    display: block;
  }
  .info-item h2 {
    margin: 0.5rem;
  }
}

/* Highlight*/

.highlight {
  background-color: #161a1d;
  padding: 4rem;
}
.main-highlight {
  display: flex;
}
.highlight-content {
  position: relative;
  top: 2rem;
  padding: 1rem 2rem 0 2rem;
  margin-right: 2rem;
}
.main-highlight h2 {
  color: white;
  font-size: 2.6rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main-highlight h4 {
  color: #fca311;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.85rem;
  margin-bottom: 24px;
  margin-top: 3rem;
}

.highlight-content > p {
  color: white;
  text-align: justify;
  line-height: 1.5;
}
.highlight-img {
  width: 100%;
  height: 90vh;
  margin: 2rem 3rem 0 0;
}
.highlight-img img {
  height: 100%;
  width: 100%;
}
.highlight-button {
  margin-top: 24px;
  padding: 20px 30px;
  border: none;
  background-color: #3333f5;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.highlight-button:hover {
  background-color: #f4c133;
}

@media screen and (max-width: 650px) {
  .banner-content h1 {
    font-size: 3em;
  }
  .nav-items {
    display: none;
  }
  .main-highlight {
    display: block;
    padding: 0 1rem;
  }
  .highlight-content {
    position: relative;
    top: 0.5rem;
    margin: 0 10px 0 10px;
    padding: 0;
  }
  .main-highlight h4 {
    margin-bottom: 5px;
    padding: 3px;
    margin-top: 0;
  }
  .main-highlight h2 {
    margin-top: 3px;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .highlight-img {
    display: block;
    height: 50%;
    width: 50%;
  }
  .highlight-button {
    margin-top: 10px;
    padding: 10px;
  }
  .toggle-btn {
    display: flex;
    margin: 0 1rem;
    cursor: pointer;
  }

  .toggle-btn i {
    font-size: 1.5rem;
  }

  .close-btn {
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
  }

  .sidebar .nav-item ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar .nav-item ul li {
    padding: 8px;
    text-align: center;
  }

  .nav-search {
    display: none;
  }
}

/*Planning*/
.planning {
  background-color: #f8f8f8;
  padding: 5rem;
}
.planning-main {
  display: flex;
}
.planning-img {
  width: 100%;
  height: 90vh;
  margin: 2rem 2rem 0 0;
}
.planning-img img {
  height: 100%;
  width: 100%;
}

.planning-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4rem;
}
.planning-main h2 {
  color: black;
  font-size: 2.6rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.planning-main h4 {
  color: #3333f5;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 24px;
  margin-top: 2rem;
}

.planning-content > p {
  color: black;
  text-align: justify;
  line-height: 1.5;
}

@media screen and (max-width: 650px) {
  .planning-img {
    display: block;
    height: 50%;
    width: 50%;
  }
  .planning-main {
    display: block;
    padding: 0 1rem;
  }
  .planning-content {
    position: relative;
    top: 0.5rem;
    margin: 0 10px 0 10px;
    padding: 0;
  }
  .planning-main h4 {
    margin-bottom: 5px;
    padding: 3px;
    margin-top: 0;
  }
  .planning-main h2 {
    margin-top: 3px;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}

/*Review Section*/
.review {
  padding: 4rem 3rem;
  background-color: black;
  color: white;
  height: auto;
}
.review-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.review h4 {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.review h1,
.review h4 {
  text-align: center;
}

.client-review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review-p {
  color: white;
  text-align: center;
  line-height: 1.5em;
  margin: 1rem;
}
.review-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-img img {
  height: 70px;
  width: 70px;
  margin-top: 1.5rem;
  border-radius: 50%;
}
.review-details h4 {
  margin: 0;
}

/* Business */
.business-info {
  padding: 5rem 4rem;
  height: auto;
  background-color: #3333f5;
  color: white;
}
.business-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.business-item {
  padding: 3rem;
  text-align: center;
}
.business-item h1 {
  font-size: 3.5rem;
}
.business-item p {
  margin-top: 1rem;
}

@media screen and (max-width: 650px) {
  .business-container {
    display: block;
  }
}

/* footer */
footer {
  height: auto;
  padding: 2rem 4rem 1rem;
  background-color: #161a1d;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info {
  padding: 3rem;
  text-align: justify;
  width: 50%;
  color: white;
  line-height: 1.5rem;
}
.footer-info h2 {
  margin-bottom: 1rem;
}
.navigation h2,
.offices h2 {
  color: white;
}

.navigation li,
.offices li {
  list-style: none;
}

@media screen and (max-width: 650px) {
  .footer-container {
    display: block;
  }
  .footer-info {
    width: 100%;
    padding: 1rem;
  }
  .navigation,
  .offices {
    padding: 1rem;
  }
}

.privacy {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.privacy a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}
.privacy a:hover {
  border-top: 1px solid #3333f5;
  color: #3333f5;
}
